.search-bar {
    display: flex;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
}

.search-bar button {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.login-button {
    position: fixed; /* Posiziona il pulsante in modo fisso rispetto alla finestra del browser */
    top: 10px;      /* Distanza dal bordo superiore */
    right: 10px;     /* Distanza dal bordo destro */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.login-button:hover {
    background-color: #e0e0e0;
}